# this is the ".gitignore" file for the "test" directory

# we can mention the names of other files in the repo 
# that we would like to IGNORE from being tracked in version control

# clutter files 
__pycahce__
.pytest_cahce
# hidden file on mac:
.DS_Store

# secret credentials
.env